@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

body {
    background-color: #fff8e1;
    font-family: 'Comfortaa', 'varela round', sans-serif;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    max-width: 600px;
    overflow-x: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headerRakhi {
    height: 100px;
    position: absolute;
    top: 10px;
}

.rakshaHeading {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    position: relative;
    background-color: #fff8e1;
    box-shadow: 0 0 10px #fff8e1;
    color: #f7c516;
}

.thread {
    width: 30%;
}

/* Main */

main {
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.homeSecRakhiMainPart {
    height: 40%;
    position: absolute;
    z-index: 1;
    animation: spin 5s linear infinite;
}

.homeSecRakhiThread {
    height: 100%;
    position: absolute;
}

.homeSecRakhi {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    position: relative;
    height: 400px;
    width: 100%;
    right: -50px;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.happyRakshaDay {
    font-size: 40px;
    font-family: 'great vibes', cursive;
    color: #f7c516;
    text-shadow: 0 0 10px #f7c516;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 43%;
}

.rakshabandhan {
    color: #a31da1;
    text-shadow: 0 0 10px #a31da1;
    display: block;
}

.wish {
    background-color: #a31da1;
    padding: 20px 15px;
    border-radius: 20px;
    color: #f7c516;
    font-weight: bold;
    margin-top: 50px;
}

.wish h2 {
    color: #f7c516;
    text-shadow: 0 0 10px #f7c516;
}

.myName {
    background-color: #f7c516;
    box-shadow: 0 3px 10px #f7c6168c;
    width: max-content;
    align-self: center;
    color: #fff;
    text-shadow: 0 0 2px #a31da1;
    font-weight: 1000;
    padding: 5px 10px;
    border-radius: 20px;
}

form {
    margin-top: auto;
    background-color: #f7c516;
    border: 2px solid #a31da1;
    border-radius: 20px 20px 0 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#homeInfo {
    color: #a31da1;
    font-weight: 1000;
    font-family: 'varela round', 'comfortaa', sans-serif;
}

#agreeAsSister~label {
    color: #000;
}

#sister {
    font-weight: bold;
}

#viewButton {
    text-align: center;
    width: max-content;
    align-self: center;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #a31da1;
    box-shadow: 0 0 10px #fff;
    font-weight: bold;
    opacity: 1;
}

#viewButton:disabled {
    opacity: 0.5;
}



#sisSpecial {
    display: none;
}

#sisSpecial h2 {
    margin-top: 30px;
    color: #a31da1;
}

#rakhiInHand {
    height: 300px;
    rotate: 90deg;
    position: absolute;
    z-index: 1;
    margin-top: -120px;
    translate: -100%;
    transition: translate 0.5s ease-in-out;
}

#rakhiInHand.active {
    translate: calc(100% - 290px);
}

#handImg {
    height: 300px;
    rotate: 90deg;
    position: relative;
    align-self: flex-end;
    margin-top: 20px;
}

.giftPlusInfo {
    background-color: #f7c516;
    color: #931b91;
    padding: 20px 15px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.giftPlusInfo p {
    font-weight: bold;
    text-align: center;
}

#yourGift {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #a31da1;
    font-weight: bold;
    box-shadow: 0 0 10px #fff;
    background-color: #fff;
}

#yourGift:disabled {
    opacity: 0.5;
}